<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yps.shangqi.push.mapper.PushSysInfoMapper">
  <resultMap id="BaseResultMap" type="com.yps.shangqi.push.entities.PushSysInfo">
    <constructor>
      <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="sys_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sys_id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="sys_desc" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="c_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="m_time" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    id, sys_name, sys_id, sys_desc, c_time, m_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from push_sys_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from push_sys_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yps.shangqi.push.entities.PushSysInfo">
    insert into push_sys_info (id, sys_name, sys_id, 
      sys_desc, c_time, m_time
      )
    values (#{id,jdbcType=INTEGER}, #{sysName,jdbcType=VARCHAR}, #{sysId,jdbcType=VARCHAR}, 
      #{sysDesc,jdbcType=VARCHAR}, #{cTime,jdbcType=TIMESTAMP}, #{mTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yps.shangqi.push.entities.PushSysInfo">
    insert into push_sys_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sysName != null">
        sys_name,
      </if>
      <if test="sysId != null">
        sys_id,
      </if>
      <if test="sysDesc != null">
        sys_desc,
      </if>
      <if test="cTime != null">
        c_time,
      </if>
      <if test="mTime != null">
        m_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysName != null">
        #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null">
        #{sysId,jdbcType=VARCHAR},
      </if>
      <if test="sysDesc != null">
        #{sysDesc,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mTime != null">
        #{mTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yps.shangqi.push.entities.PushSysInfo">
    update push_sys_info
    <set>
      <if test="sysName != null">
        sys_name = #{sysName,jdbcType=VARCHAR},
      </if>
      <if test="sysId != null">
        sys_id = #{sysId,jdbcType=VARCHAR},
      </if>
      <if test="sysDesc != null">
        sys_desc = #{sysDesc,jdbcType=VARCHAR},
      </if>
      <if test="cTime != null">
        c_time = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="mTime != null">
        m_time = #{mTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yps.shangqi.push.entities.PushSysInfo">
    update push_sys_info
    set sys_name = #{sysName,jdbcType=VARCHAR},
      sys_id = #{sysId,jdbcType=VARCHAR},
      sys_desc = #{sysDesc,jdbcType=VARCHAR},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      m_time = #{mTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>